/* Adobe Clean - Font Import */
@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/AdobeClean/AdobeClean-Medium.woff2') format('woff2'),
        url('fonts/AdobeClean/AdobeClean-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/AdobeClean/AdobeClean-Black.woff2') format('woff2'),
        url('fonts/AdobeClean/AdobeClean-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/AdobeClean/AdobeClean-Black.woff2') format('woff2'),
        url('fonts/AdobeClean/AdobeClean-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/AdobeClean/AdobeClean-Regular.woff2') format('woff2'),
        url('fonts/AdobeClean/AdobeClean-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}